
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Portfolio-Info -->
<section id="port-info" class="about-bgcolor w-100 vh-40"
         style="background-image: url(assets/image/index/white-pattern-long.png);">
    <div class="container pt-5">
        <div class="text-xxl-center pt-5">
            <h4 class="text-white pt-3 fs-65 tahoma text-uppercase text-decoration-underline">
                Portfolio-Detail
            </h4>
            <a href="index.html" class="pt-5 text-white fs-5">
                <i class="bi bi-house-fill "></i>Home <i class="bi bi-caret-right-fill"></i> Portfolio Detail
            </a>
        </div>
    </div>
</section>
<!-- portfolio-detail -->
<section class="pt-5">
    <div class="container pt-5">
        <div class="text-xxl-center pt-5">
            <p class="coruier text-dark fw-bold">Our professional work with</p>
            <h1 class="text-dark tahoma pt-3 fw-bold fs-65">Metro Melody Event</h1>
            <p class="pt-3 text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed sagittis arcu, nec mattis
                nibh. Nulla hendrerit metus lectus, id consequat elit rhoncus a. Sed pellentesque laoreet est.
                Curabitur rhoncus nec ipsum ac malesuada. Suspendisse varius ante vitae metus maximus mollis.
                Nunc mattis massa sed ullamcorper gravida.
            </p>
        </div>
    </div>
</section>
<!-- Portfolio-Image -->
<section id="portdetail" class="pt-5">
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-4">
                <div class="row">
                    <img src="assets/image/portfolio-detail/gang1.jpg" alt="">
                </div>
            </div>
            <div class="col-4">
                <div class="col-6">
                    <img src="assets/image/portfolio-detail/gang2.jpg" width="420" height="300" alt="">
                </div>
                <div class="col-6 pt-5">
                    <img src="assets/image/portfolio-detail/gang3.jpg" width="420" height="300" alt="">
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <img src="assets/image/portfolio-detail/gang4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features -->
<section id="features" class="pt-5">
    <div class="container pt-5">
        <div>
            <span id="text" class="text-dark fs-65 fw-bold tahoma ms-5">
                The Power Of <span id="text"
                                   class="fs-65 main-color fw-bold tahoma">Social Media Marketing</span>
            </span>
        </div>


        <div class="row pt-5 pb-5 gap-3 " style="margin-left: 20% !important;">
            <div class="col-3 main-bgcolor rounded-4">
                <div class="text-xxl-center">
                    <i class="bi bi-star-half text-white fs-1"></i>
                    <p class="fs-2 text-white">684</p>
                    <span class="fw-bold text-white fs-4">Rewies</span>
                </div>
            </div>
            <div class="col-3 main-bgcolor  rounded-4">
                <div class="text-xxl-center">
                    <i class="bi bi-ticket-detailed-fill text-white fs-1"></i>
                    <p class="fs-2 text-white">2,899</p>
                    <span class="fw-bold fs-4 text-white">Tickets Sold</span>
                </div>
            </div>
            <div class="col-3 main-bgcolor rounded-4">
                <div class="text-xxl-center">
                    <i class="bi bi-share-fill text-white fs-1 "></i>
                    <p class="fs-2 text-white">
                        57,789
                    </p>
                    <span class="fw-bold fs-4 text-white"> shares</span>
                </div>
            </div>
            <div class="col-3 main-bgcolor rounded-4">
                <div class="text-xxl-center">
                    <i class="bi bi-broadcast text-white fs-1"></i>
                    <p class="fs-2 text-white">300%</p>
                    <span class="fw-bold fs-4 text-white">Engagement</span>
                </div>
            </div>
            <div class="col-3 main-bgcolor rounded-4">
                <div class="text-xxl-center">
                    <i class="bi bi-people-fill text-white fs-1"></i>
                    <p class="fs-2 text-white">3000</p>
                    <span class="fw-bold fs-4 text-white">Users</span>
                </div>
            </div>
            <div class="col-3 main-bgcolor rounded-4">
                <div class="text-xxl-center">
                    <i class="bi bi-shield-lock-fill text-white fs-1"></i>
                    <p class="fs-2 text-white">100%</p>
                    <span class="fw-bold fs-4 text-white">Savety System</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Get-Started -->
<section id="get-detail" class="pt-5 pb-5">
    <div class="container pt-5">
        <div class="rounded-3 about-bgcolor"
             style="background-image: url(assets/image/index/white-pattern-long.png);">
            <div class="row pt-4 pb-5">
                <div class="col-md-9">
                    <div class="container">
                        <h4 class="text-white fw-bold fs-65">Nows it's your turn</h4>
                        <p class="text-white ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 pt-5">
                    <button class="btn-group video text-decoration-underline form-control-lg fw-bold main-color ms-3">
                        Get Started
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

