
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero -->
<section id="hero" class="w-100  vh-100 pt-5">
    <div class="container pt-5">
        <div class="row pt-3">
            <div class="col-lg-6">
                <span class="text-dark fw-bold fs-5 coruier">Get your ideas on the cloud</span>
                <h3 class=" fw-bold fs-65">Thrive Your</h3>
                <h3 class=" fw-bold fs-65">Business</h3>
                <h3 class="fw-bold fs-65 main-color">on Social Media</h3>
                <p class="text-dark">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                    luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.
                </p>
                <p class="text-dark coruier text-dark fw-bold fs-5">Get early access</p>
                <button class="btn-group main-bgcolor form-control-lg fw-bold text-white contactbtn ">
                    <a class="text-decoration-underline fw-bold text-white" href="login.html">Sign Up</a>
                </button>
                <button class="btn-group video text-decoration-underline form-control-lg fw-bold main-color ms-3">
                    <i class="bi  bi-play-circle main-color me-2"></i>Watch Video
                </button>
            </div>
            <div class="col-lg-6">
                <img src="assets/image/index/croods-2.png" width="550" height="350" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Cards -->
<section id="cards" class="w-100 vh-100 pt-5 " style="background-color: rgb(223, 223, 223);">
    <!-- style="background-image: url(assets/image/index/pattern-2.png);" -->
    <div class="container">
        <div id="img" class="row">
            <div class="col-md-6">
                <img src="assets/image/index/croods-3.png" width="550" height="300" alt="">
            </div>
            <div class="col-md-6">
                <span class="text-dark fw-bold fs-5 coruier">Social Media Management</span>
                <h3 class="fw-bold fs-65 text-black">Connect, Interact &</h3>
                <h3 class="main-color fs-65 fw-bold">Increase Sales</h3>
                <p class="text-dark">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                    luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.
                </p>
                <button class="btn-group main-bgcolor form-control-lg fw-bold text-white contactbtn text-decoration-underline">
                    Learn
                    More
                </button>
                <span class="ms-3 main-color gh coruier fs-5">
                    <i class="bi bi-box fs-5"></i>Explore
                    features
                </span>
            </div>
        </div>

        <div id="card" class="row pt-10">
            <div class="col-4">
                <div class="text-xxl-center rounded-3 bg-light pt-3">
                    <img src="assets/image/cards/broswer.png" width="100" height="100" alt="">
                    <h4 class="text-dark pt-4">Elegant Design</h4>
                    <p class="text-dark pt-4 pb-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                        tellus, luctus nec
                        ullamcorper mattis, pulvinar dapibus leo.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="text-xxl-center rounded-3 bg-light pt-3">
                    <img src="assets/image/cards/customer-support.png" width="100" height="100" alt="">
                    <h4 class="text-dark pt-4">Social Moderation</h4>
                    <p class="text-dark pt-4 pb-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                        tellus, luctus nec
                        ullamcorper mattis, pulvinar dapibus leo.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="text-xxl-center rounded-3 bg-light pt-3">
                    <img src="assets/image/cards/viral.png" width="100" height="100" alt="">
                    <h4 class="text-dark pt-4">Chat Support</h4>
                    <p class="text-dark pt-4 pb-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                        tellus, luctus nec
                        ullamcorper mattis, pulvinar dapibus leo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Companies -->
<section id="companies" class="pt-5 w-100 vh-160">
    <div class="container pt-5">
        <div id="two" class="row pt-5">
            <div class="col-md-6 pt-2">
                <span class="text-dark coruier fw-bold fs-5">Power importing tool</span>
                <h3 class="fw-bold fs-65 text-black">Enhance Your</h3>
                <h3 class="fw-bold fs-65 main-color">Omnichannel</h3>
                <h3 class="fw-bold fs-65 main-color">Presence</h3>
                <p class="text-dark">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                    luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
                <p class="text-dark fw-bold">
                    <i class="bi bi-check-circle-fill main-color "></i>Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="text-dark fw-bold">
                    <i class="bi bi-check-circle-fill main-color "></i>Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="text-dark fw-bold">
                    <i class="bi bi-check-circle-fill main-color "></i>Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="col-md-6">
                <img src="assets/image/index/croods-1.png" width="550" height="350" alt="">
            </div>
        </div>
        <br>
        <div class="row pt-5">
            <!-- <div class="col-md-3 fw-bold fs-3">As seen on</div> -->
            <div class="col-md-3">
                <img src="assets/image/index/Artboard-67-8.png" width="150" height="150"
                     alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/image/index/Artboard-68-8.png" width="150" height="150"
                     alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/image/index/Artboard-69-8.png" width="150" height="150"
                     alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/image/index/Artboard-69-copy-8.png" width="150" height="150"
                     alt="">
            </div>
        </div>
    </div>
</section>
<!-- Testimonials -->
<section id="testimonials" class="pt-5 pb-5 w-100 vh-100" style="background-color: rgb(223, 223, 223);">
    <div class="container pt-5 pb-5">
        <div class="text-xxl-center">
            <h3 class="text-dark tahoma fs-1">Testimonials</h3>
        </div>

        <div class="row pb-3 pt-10">
            <div class="col-6">
                <div class="text-xxl-center rounded-3 bg-light pt-3">
                    <div class="text-xxl-center pt-3  ">
                        <i class="bi bi-star-fill  text-warning"></i>
                        <i class="bi bi-star-fill  text-warning"></i>
                        <i class="bi bi-star-fill  text-warning"></i>
                        <i class="bi bi-star-fill  text-warning"></i>
                        <i class="bi bi-star-fill  text-warning"></i>
                        <div id="profile" class="pt-5   text-xxl-center rounded-circle" style="width: 170px; height: 170px;border:  2px solid black; margin-left: 37%;">
                            <img src="assets/image/index/PERSON1-100.jpg" width="100" height="100" alt="">
                        </div>
                        <p class="text-dark pt-3 pb-3">
                            Donec id elit non mi porta gravida at eget metus. Vivamus sagittis
                            lacus vel augue
                            laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta
                            gravida at eget metus.
                        </p>
                        <span class="text-dark fw-bold fs-3">
                            Jean Doe - <span class="main-color">Leap13</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="text-xxl-center pt-3 rounded-3 bg-light">
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <div id="profile" class="pt-5  text-xxl-center rounded-circle" style="width: 170px; height: 170px;border:  2px solid black;margin-left: 37%; ">
                        <img src="assets/image/index/PERSON2-100.jpg" width="100" height="100" alt="">
                    </div>
                    <p class="text-dark pt-4 pb-3">
                        Donec id elit non mi porta gravida at eget metus. Vivamus sagittis
                        lacus vel augue
                        laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.
                        Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta
                        gravida at eget metus.
                    </p>
                    <span class="text-dark fw-bold fs-3 ">
                        Jean Doe - <span class="main-color">Leap13</span>
                    </span>
                </div>
            </div>

        </div>
        <div id="see" class="text-xxl-center pt-5">
            <button class="btn-group see text-decoration-underline form-control-lg fw-bold main-color ms-3">
                See
                all reviews
            </button>
        </div>
    </div>
</section>
<!-- Pricing -->
<section id="pricing" class="pt-5 pb-5 w-100 vh-100">
    <div class="container">
        <div class="text-xxl-center">
            <h3 class="text-dark tahoma fs-1">Pricing</h3>
        </div>
        <partial name="_PricingPartial" />
    </div>
</section>
<!-- Get-Started -->
<section id="get-started" class="pt-4 w-100  vh-50 main-bgcolor">
    <div class="container pt-2">
        <div class="text-xxl-center pt-2">
            <h1 class="text-white tahoma">Take Your Brand to A New Height</h1>
        </div>
        <div class="text-xxl-center pt-5">
            <button class="bg-white btn form-control-lg video  text-decoration-underline main-color">
                Get
                Started
            </button>
        </div>
    </div>
</section>

