
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Portfolio-Info -->
<section id="port-info" class="about-bgcolor w-100 vh-40"
         style="background-image: url(assets/image/index/white-pattern-long.png);">
    <div class="container pt-5">
        <div class="text-xxl-center pt-5">
            <h4 class="text-white pt-3 fs-65 tahoma text-uppercase text-decoration-underline">Portfolio</h4>
            <a href="index.html" class="pt-5 text-white fs-5">
                <i class="bi bi-house-fill "></i>Home <i class="bi bi-caret-right-fill"></i> Portfolio
            </a>
        </div>
    </div>
</section>
<!-- Portfolio -->
<section id="portfolio" class="pt-5 pb-5">
    <div class="container pt-5">
        <div class="text-xxl-center ">
            <ul class="d-flex flex-row gap-3 justify-content-center">
                <li class="list-unstyled d" data-target="all">
                    <button class="btn form-control-lg ms-2 rounded-4 port-active  ">All</button>
                </li>
                <li class="list-unstyled d" data-target="food">
                    <button class="btn form-control-lg ms-2 rounded-4  btn-outline-narinci  ">Food</button>
                </li>
                <li class="list-unstyled d" data-target="travel">
                    <button class="btn form-control-lg ms-2 rounded-4   btn-outline-narinci ">Travel</button>
                </li>
                <li class="list-unstyled d" data-target="event">
                    <button class="btn form-control-lg ms-2 rounded-4   btn-outline-narinci ">Event</button>
                </li>
            </ul>
        </div>
        <div class="row pt-3">
            <div class="col-4 pt-3  fg" data-id="all">
                <img src="assets/image/p1.jpg" width="400" height="250" alt="">
            </div>
            <div class="col-4 pt-3 fg" data-id="all">
                <img src="assets/image/p2.jpg" width="400" height="250" alt="">
            </div>
            <div class="col-4 pt-3 fg" data-id="food">
                <img src="assets/image/p3.jpg" width="400" height="250" alt="">
            </div>



            <div class="col-4 pt-3 fg">
                <img src="assets/image/p4.jpg" width="400" height="250" alt="">
            </div>
            <div class="col-4 pt-3 fg" data-id="event">
                <img src="assets/image/p5.jpg" width="400" height="250" alt="">
            </div>
            <div class="col-4 pt-3 fg" data-id="food">
                <img src="assets/image/p6.jpg" width="400" height="250" alt="">
            </div>



            <div class="col-4 pt-3 fg" data-id="all">
                <img src="assets/image/p7.jpg" width="400" height="250" alt="">
            </div>
            <div class="col-4 pt-3 fg" data-id="travel">
                <img src="assets/image/p8.jpg" width="400" height="250" alt="">
            </div>
            <div class="col-4 pt-3 fg" data-id="food">
                <img src="assets/image/p3.jpg" width="400" height="250" alt="">
            </div>



            <div class="col-4 pt-3 fg" data-id="all">
                <img src="assets/image/p2.jpg" width="400" height="250" alt="">
            </div>
            <div class="col-4 pt-3 fg" data-id="travel">
                <img src="assets/image/p1.jpg" width="400" height="250" alt="">
            </div>
            <div class="col-4 pt-3 fg" data-id="event">
                <img src="assets/image/p4.jpg" width="400" height="250" alt="">
            </div>
        </div>




    </div>
</section>

