
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About-Info -->
<section class="about-bgcolor w-100 vh-40"
         style="background-image: url(assets/image/index/white-pattern-long.png);">
    <div class="container pt-5">
        <div class="text-xxl-center pt-5">
            <h4 class="text-white pt-3 ">About</h4>
            <a href="index.html" class="pt-5 text-white fs-5">
                <i class="bi bi-house-fill "></i>Home <i class="bi bi-caret-right-fill"></i> About
            </a>
        </div>
    </div>
</section>
<!-- Info-About-Us -->
<section id="about-us" class="pt-5 pb-5">
    <div class="container pt-3">
        <div class="text-xxl-center pt-3">
            <p class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum orci et leo vehicula
                malesuada. Praesent blandit dictum velit eu dapibus. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos. Ut mattis ligula et turpis egestas, et
                fermentum sapien feugiat.
            </p>
        </div>
        <div class="row pt-5">
            <div class="col-lg-6">
                <h3 class="fw-bold fs-65 text-black"> Your success is</h3>
                <h3 class="fw-bold fs-65 main-color">Our Mission</h3>
                <p class="text-dark pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.
                </p>
                <img class="pt-3" src="assets/image/about/about1.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <img src="assets/image/about/about2.jpg" alt="">
                <h3 class="fw-bold fs-65 text-black pt-3"> High Experience</h3>
                <h3 class="fw-bold fs-65 main-color">Professional Team</h3>
                <p class="text-dark pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Proggress-Bar -->
<section class="pt-5 pb-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6">
                <span class="text-dark fw-bold fs-5 coruier">Get your ideas on the cloud</span>
                <h3 class=" fw-bold fs-5">Thrive Your</h3>
                <h3 class=" fw-bold fs-5">Business</h3>
                <h3 class="fw-bold fs-5 main-color">on Social Media</h3>
                <p class="text-dark">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                    luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.
                </p>

                <button class="btn-group main-bgcolor form-control-lg fw-bold text-white contactbtn text-decoration-underline">
                    Case
                    Studios
                </button>
            </div>
            <div class="col-md-6">
                <div class="col">
                    <div class="row">

                        <label for="" class="fw-bold text-dark tahoma">Facebook</label>
                        <div class="container">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar main-color" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <label for="" class="fw-bold text-dark tahoma">Instagram</label>
                        <div class="container">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar main-color" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <label for="" class="fw-bold text-dark tahoma">Pinterest</label>

                        <div class="container">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar main-color" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our-Team -->
<section id="team" class="pt-5 pb-5">
    <div class="container pb-5">
        <div class="text-xxl-center">
            <h3 class="text-dark tahoma fs-1">Our Team</h3>
        </div>
        <div class="row pt-4 gap-3 ms-5">
            <div class="col-md-3 bg-light">
                <div>
                    <img src="assets/image/about/team1.jpg" width="320" height="500" alt="">
                </div>
                <h4 class="text-dark pt-3">Janie Frank</h4>
                <p class="text-dark">Senior Developer</p>
                <p class="text-dark pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="col-md-3 bg-light">
                <div>
                    <img src="assets/image/about/team2.jpg" width="320" height="500" alt="">
                </div>
                <h4 class="text-dark pt-3">Janie Frank</h4>
                <p class="text-dark">Senior Developer</p>
                <p class="text-dark pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="col-md-3 bg-light">
                <div>
                    <img src="assets/image/about/team3.jpg" width="320" height="500" alt="">
                </div>
                <h4 class="text-dark pt-3">Janie Frank</h4>
                <p class="text-dark">Senior Developer</p>
                <p class="text-dark pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

